*{
margin: 0;
padding: 0;
text-decoration: none;
list-style: none;
}
body{
font-family: 'Montserrat', sans-serif;
}
nav{
background: #151515;
}
.an{
font-weight: 400;
font-size: 25px;
color: #FFFFFF;
}
.anS{
color: #FF0000;
}
.web{
font-weight: 400;
font-size: 15px;
color: #FFFFFF;
}
.list{
margin-top: 20px;
display: flex;
justify-content: space-between;
}
.list_a{
text-decoration: none;
color: #FFFFFF;
font-weight: 400;
font-size: 15px;
}
.listS{
color: #FF0000;
}
.number{
margin-top: 20px;
display: flex;
align-items: start;
}
.tele{
width: 26px;
height: 26px;
}
.nomer{
font-weight: 600;
font-size: 22px;
color: #FFFFFF;
}
.zakaz{
margin-top: 20px;
font-weight: 400;
font-size: 15px;
color: #FFFFFF;
}
/* ======================================================== */
.zero{
background: url(img/photo\ 2044387907.png);
background-size: cover;
background-repeat: no-repeat;
}
.busines{
margin-top: 140px;
font-weight: 700;
font-size: 60px;
/* or 53px */
color: #FFFFFF;
}
.businesS{
color: #FF0000;
}
.proekt{
margin-top: 64px;
font-weight: 400;
font-size: 18px;
color: #FFFFFF;
}
.hush{
margin-top: 72px;
background: #FF0000;
padding: 19px 53px;
border: none;
font-weight: 500;
font-size: 16px;
color: #FFFFFF;
margin-bottom: 220px;
}
/* ======================================================== */
.magazin{
padding-top: 50px;
font-weight: 700;
font-size: 50px;
color: #000000;
}
.night{
padding-top: 40px;
font-weight: 400;
font-size: 16px;
color: #3A3A3A;
padding-bottom: 20px;
}
.learn{
font-weight: 400;
font-size: 15px;
color: #050505;
padding: 10px 60px;
background: #FFF8F8;
border: 0.5px thick red;
margin-bottom: 40px;
}
.internetCard{
background: #FFF8F8;
margin-top: 100px;
}
.inCard{
text-align: center;
}
#one{
margin-bottom: 40px;
}
/* ======================================================== */
.area{
margin-top: 100px;
background: #010101;
}
.wood{
font-weight: 800;
font-size: 50px;
color: #FFF8F8;
margin-top: 100px;
margin-bottom: 70px;
}
.woodS{
color: #FF0000;  
}
/* ======================================================== */
.king{
display: flex;
align-items: center;
}
.stay{
font-weight: 600;
font-size: 35px;
color: #FFF8F8;

}
.moon{
margin-top: 20px;
font-weight: 400;
font-size: 18px;
color: #FFF8F8;
}
/* ======================================================== */
.power{
margin-top: 100px;
font-weight: 800;
font-size: 50px;
color: #FFF8F8;
margin-bottom: 50px;
}
/* ======================================================== */
.town{
font-weight: 900;
font-size: 55px;
color: #FF0000;
}
.fix{
margin-top: 25px;
font-weight: 600;
font-size: 25px;
color: #FFF8F8;
}
.gave{
margin-top: 30px;
font-weight: 400;
font-size: 18px;
color: #FFF8F8;
}
/* ======================================================== */
.best{
font-weight: 600;
font-size: 16px;
color: #FFFFFF;
background: #FF0000;
padding: 20px 60px;
}
.hold{
margin-top: 100px;
text-align: center;
margin-bottom: 100px;
}
/* ======================================================== */
.pink{
position: relative;
background: #FFF8F8;
box-shadow: 0px 26px 76px rgba(12, 22, 36, 0.16);
}
.sena{
font-weight: 800;
font-size: 30px;
color: #000000;
}
.secund{
font-weight: 400;
font-size: 16px;
color: #3A3A3A;
}
.war{
font-weight: 600;
font-size: 16px;
background: #FF0000;
color: #FFFFFF;
border: none;
padding: 20px 60px;
}
.secundS{
font-weight: 700;
}
.pink-2{
margin-top: 150px;
padding-top: 50px;
padding-bottom: 70px;
text-align: center;
}
.clara{
position: relative;
left: 80px;
}
.laptop{
position: relative;
top: 150px;
left: 400px;
}
.sara{
position: relative;
left: 100px;
}
.carl{
margin-top: 100px;
background: url(img/image\ 53.png);
width: 700px;   
height: 500px;
position: relative;
}
/* ======================================================== */
.section-4{
margin-top: 150px;
background: #010101;
}
.tigCard-2{
padding-top: 30px;
display: flex;
align-items: start;
}
.termo{
font-weight: 800;
font-size: 22.7749px;
color: #FAFAFA;
margin-left: 20px;
}
.korpo{
margin-top: 20px;
font-weight: 400;
font-size: 16px;
color: #FFFFFF;
padding-bottom: 179px;
}
.tigCard{
background: rgba(22, 21, 21, 0.9);
background: url(img/Rectangle\ 66.png);
}
.tigCard-3{
margin-left: 50px;
}
.matem{
width: 582px;
height: 374px;
}
.matem2{
width: 530px;
height: 374px;
}
.see{
    font-weight: 600;
font-size: 16px;
color: #FFFFFF;
background: #010101;
border: 1px solid #FAFAFA;
padding: 12px 60px;
margin-top: 50px;
margin-bottom: 100px;
}
.xod{
margin-top: 100px;
font-weight: 800;
font-size: 50px;
color: #FF0000;
}
.xodS{
    color: #010101;
}
/* ======================================================== */
.one1{
    font-weight: 900;
font-size: 174.14px;
color: #858585;
}
.proect{
font-weight: 700;
font-size: 35.9123px;
margin-left: 20px;
color: #000000;
}
.future{
    display: flex;
    align-items: center;
}
.teach{
    width: 545px;
height: 365px;
}
/* ======================================================== */

/* ======================================================== */

/* ======================================================== */

/* ======================================================== */

/* ======================================================== */

/* ======================================================== */

/* ======================================================== */

/* ======================================================== */

/* ======================================================== */
/* ======================================================== */
/* ======================================================== */
/* ======================================================== */