*{
margin: 0;
padding: 0;
text-decoration: none;
list-style: none;
box-sizing: border-box;
}
body{
font-family: 'Montserrat', sans-serif;
}
nav{
background: #151515;
}
.an{
font-weight: 400;
font-size: 25px;
color: #FFFFFF;
}
.anS{
color: #FF0000;
}
.web{
font-weight: 400;
font-size: 15px;
color: #FFFFFF;
}
.list{
margin-top: 20px;
display: flex;
justify-content: space-between;
}
.list_a{
text-decoration: none;
color: #FFFFFF;
font-weight: 400;
font-size: 15px;
}
.listS{
color: #FF0000;
}
.number{
margin-top: 20px;
display: flex;
align-items: start;
}
.tele{
width: 26px;
height: 26px;
}
.nomer{
font-weight: 600;
font-size: 22px;
color: #FFFFFF;
}
.zakaz{
margin-top: 20px;
font-weight: 400;
font-size: 15px;
color: #FFFFFF;
}
/* ======================================================== */
.zero{
background: url(img/photo\ 2044387907.png);
background-size: cover;
background-repeat: no-repeat;
}
.busines{
margin-top: 140px;
font-weight: 700;
font-size: 60px;
/* or 53px */
color: #FFFFFF;
}
.businesS{
color: #FF0000;
}
.proekt{
margin-top: 64px;
font-weight: 400;
font-size: 18px;
color: #FFFFFF;
}
.hush{
margin-top: 72px;
background: #FF0000;
padding: 19px 53px;
border: none;
font-weight: 500;
font-size: 16px;
color: #FFFFFF;
margin-bottom: 220px;
}
/* ======================================================== */
.magazin{
padding-top: 50px;
font-weight: 700;
font-size: 50px;
color: #000000;
}
.night{
padding-top: 40px;
font-weight: 400;
font-size: 16px;
color: #3A3A3A;
padding-bottom: 20px;
}
.learn{
font-weight: 400;
font-size: 15px;
color: #050505;
padding: 10px 60px;
background: #FFF8F8;
border: 0.5px thick red;
margin-bottom: 40px;
}
.internetCard{
background: #FFF8F8;
margin-top: 100px;
}
.inCard{
text-align: center;
}
#one{
margin-bottom: 40px;
}
/* ======================================================== */
.area{
margin-top: 100px;
background: #010101;
}
.wood{
font-weight: 800;
font-size: 50px;
color: #FFF8F8;
margin-top: 100px;
margin-bottom: 70px;
}
.woodS{
color: #FF0000;  
}
/* ======================================================== */
.king{
display: flex;
align-items: center;
}
.stay{
font-weight: 600;
font-size: 35px;
color: #FFF8F8;

}
.moon{
margin-top: 20px;
font-weight: 400;
font-size: 18px;
color: #FFF8F8;
}
/* ======================================================== */
.power{
margin-top: 100px;
font-weight: 800;
font-size: 50px;
color: #FFF8F8;
margin-bottom: 50px;
}
/* ======================================================== */
.town{
font-weight: 900;
font-size: 55px;
color: #FF0000;
}
.fix{
margin-top: 25px;
font-weight: 600;
font-size: 25px;
color: #FFF8F8;
}
.gave{
margin-top: 30px;
font-weight: 400;
font-size: 18px;
color: #FFF8F8;
}
/* ======================================================== */
.best{
font-weight: 600;
font-size: 16px;
color: #FFFFFF;
background: #FF0000;
padding: 20px 60px;
}
.hold{
margin-top: 100px;
text-align: center;
margin-bottom: 100px;
}
/* ======================================================== */
.pink{
position: relative;
background: #FFF8F8;
box-shadow: 0px 26px 76px rgba(12, 22, 36, 0.16);
}
.sena{
font-weight: 800;
font-size: 30px;
color: #000000;
}
.secund{
font-weight: 400;
font-size: 16px;
color: #3A3A3A;
}
.war{
font-weight: 600;
font-size: 16px;
background: #FF0000;
color: #FFFFFF;
border: none;
padding: 20px 60px;
}
.secundS{
font-weight: 700;
}
.pink-2{
margin-top: 150px;
padding-top: 50px;
padding-bottom: 70px;
text-align: center;
}
.clara{
position: relative;
left: 80px;
}
.laptop{
position: relative;
top: 150px;
left: 400px;
}
.sara{
position: relative;
left: 100px;
}
.carl{
margin-top: 100px;
background: url(img/image\ 53.png);
width: 700px;   
height: 500px;
position: relative;
}
/* ======================================================== */
.section-4{
margin-top: 150px;
background: #010101;
}
.tigCard-2{
padding-top: 30px;
display: flex;
align-items: start;
}
.termo{
font-weight: 800;
font-size: 22.7749px;
color: #FAFAFA;
margin-left: 20px;
}
.korpo{
margin-top: 20px;
font-weight: 400;
font-size: 16px;
color: #FFFFFF;
padding-bottom: 179px;
}
.tigCard{
background: rgba(22, 21, 21, 0.9);
background: url(img/Rectangle\ 66.png);
}
.tigCard-3{
margin-left: 50px;
}
.matem{
width: 582px;
height: 374px;
}
.matem2{
width: 530px;
height: 374px;
}
.see{
font-weight: 600;
font-size: 16px;
color: #FFFFFF;
background: #010101;
border: 1px solid #FAFAFA;
padding: 12px 60px;
margin-top: 50px;
margin-bottom: 100px;
}
.xod{
margin-top: 100px;
font-weight: 800;
font-size: 50px;
color: #FF0000;
}
.xodS{
color: #010101;
}
/* ======================================================== */
.one1{
font-weight: 900;
font-size: 174.14px;
color: #858585;
}
.proect{
font-weight: 700;
font-size: 35.9123px;
margin-left: 20px;
color: #000000;
}
.future{
display: flex;
align-items: center;
}
.teach{
width: 545px;
height: 365px;
}
/* ======================================================== */
.own{
font-weight: 600;
font-size: 16px;
color: #FFFFFF;
background: #FF0000;
border: none;
padding: 20px 100px;
}
.find{
margin-top: 100px;
text-align: center;
}
/* ======================================================== */
.vash{
margin-top: 90px;
margin-bottom: 60px;
font-weight: 800;
font-size: 50px;
color: #FFFFFF;
}
.vashS{
color: #FF0000;
}
.section-6{
margin-top: 100px;
background: #010101;
}
.keep{
font-weight: 500;
font-size: 25px;
color: #FFFFFF;
}
/* ======================================================== */
.name{
margin-top: 50px;
margin-bottom: 50px;
font-weight: 300;
font-size: 18px;
color: rgba(255, 250, 250, 0.5);
width: 419.44px;
background: #010101;
border: none;
border-bottom:1.21224px solid #FFFEFE ;
outline: none;
}
.door{
background: #010101;
font-weight: 300;
font-size: 18px;
color: rgba(255, 255, 255, 0.5);
border: 1.21224px solid #FFFFFF;
}
::placeholder{
padding-left: 50px;
padding-top: 20px;
}
.otpravit{
background: #FF0000;
font-weight: 600;
font-size: 16px;
color: #FFFFFF;
padding: 20px 60px;
margin-top: 70px;
margin-bottom: 200px;
}
/* ======================================================== */
.usluga{
margin-top: 100px;
font-weight: 800;
font-size: 50px;
color: #FF0000;
margin-bottom: 80px;
}
.uslugaS{
color: #000000;
}
/* ======================================================== */
.insta{
width: 585px;
height: 540px;
}
.market{
margin-top: 50px;
font-weight: 700;
font-size: 38.6218px;
color: #000000;
}
.poisk{
margin-top: 15px;
margin-left: 20px;
font-weight: 400;
font-size: 18px;
color: #3A3A3A;
}
.marketCard-2{
display: flex;
align-items: center;
}
.deep{
font-weight: 600;
font-size: 16px;
color: #FFFFFF;
background: #FF0000;
padding: 20px 60px;
border: none;
margin-top: 40px;
}
/* ======================================================== */
footer{
margin-top: 120px;
background: #010101;
}
.way{
padding-top: 90px;
}
.ana{
font-weight: 400;
font-size: 25px;
color: #FF0000;
}
.anaS{
color: #FFFFFF;
}
.webB{
font-weight: 400;
font-size: 15px;
color: #FFFFFF;
margin-bottom: 40px;
}
.listF{
display: flex;
justify-content: space-between;
}
.list_aF{
text-decoration: none;
font-weight: 400;
font-size: 16px;
color: #FFFFFF;
}
.face{
margin-left: 30px;
}
.twe{
    font-weight: 400;
font-size: 16px;
color: #FFFFFF;
text-align: center;
}
/* ===================Responsive===================================== */
@media (max-width:575px) {
    .nomer {
        font-weight: 600;
        font-size: 14px;
        color: #FFFFFF;
    }
    .zero{
        width: 100%;
        background-size: cover;
    }
    .busines {
        margin-top: 34px;
        font-weight: 700;
        font-size: 44px;
        color: #FFFFFF;
    }
    .proekt {
        font-weight: 400;
        font-size: 27px;
        color: #FFFFFF;
        text-align: center;
        margin-left: 20px;
    }
    .wood {
        font-weight: 800;
        font-size: 31px;
        color: #FFF8F8;
        margin-top: 50px;
        margin-bottom: 70px;
    }
    .power {
        margin-top: 50px;
        font-weight: 800;
        font-size: 39px;
        color: #FFF8F8;
        margin-bottom: 50px;
    }
    .fix {
        margin-top: 17px;
        font-weight: 600;
        font-size: 20px;
        color: #FFF8F8;
    }
    .gave {
        margin-top: 30px;
        font-weight: 400;
        font-size: 19px;
        color: #FFF8F8;
    }
    .carl{
        width: 100%;
        height: 100%;
    }
    .sara {
        width: 60%;
        position: relative;
        left: -11px;
        top: -50px;
    }
    .clara {
        position: relative;
        left: 143px;
        width: 50%;
        top: -150px;
    }
    .pink-2{
        margin-top: 64px;
    }
    .wood{
        font-size: 24px;    
    }
    .matem{
        margin-top: 20px;
        width: 100%;
    }
    .matem2{
        margin-top: 20px;
        width: 100%;
    }
    .see{
        font-size: 19px;
    }
    .xod {
        margin-top: 49px;
        font-weight: 800;
        font-size: 42px;
        color: #FF0000;
    }
    .one1 {
        margin-top: 50px;
        font-weight: 900;
        font-size: 109.14px;
        color: #858585;
    }
    .proect {
        font-weight: 700;
        font-size: 22.9123px;
        margin-left: 1px;
        color: #000000;
        margin-top: 49px;
    }
    .teach{
        width: 100%;
        height: 100%;
    }
    .own {
        font-weight: 600;
        font-size: 16px;
        color: #FFFFFF;
        background: #FF0000;
        border: none;
        padding: 20px 100px;
        margin-top: 165px;
    }
    .vash {
        margin-top: 90px;
        margin-bottom: 60px;
        font-weight: 800;
        font-size: 30px;
        color: #FFFFFF;
    }
    .name{
        width: 100%;
        height: 100%;
    }
    .door {
        background: #010101;
        font-weight: 300;
        font-size: 20px;
        color: rgba(255, 255, 255, 0.5);
        border: 1.21224px solid #FFFFFF;
    }
    .door, .insta{
        width: 100%;
        height: 100%;
    }
    ::placeholder{
        padding: 0;
        margin: 0;
    }
    .otpravit{
        width: 100%;
    }
    .usluga {
        margin-top: 100px;
        font-weight: 800;
        font-size: 30px;
        color: #FF0000;
        margin-bottom: 80px;
    }
    .deep {
        font-weight: 600;
        font-size: 16px;
        color: #FFFFFF;
        background: #FF0000;
        padding: 15px 43px;
        border: none;
        margin-top: 40px;
        margin-bottom: 50px;
    }
    .ana {
        font-weight: 400;
        font-size: 34px;
        color: #FF0000;
        text-align: center;
    }
    .webB {
        text-align: center;
        font-weight: 400;
        font-size: 20px;
        color: #FFFFFF;
        margin-bottom: 40px;
    }
    .face {
        margin-left: 48px;
    }
    .twe {
        margin-top: 50px;
        font-weight: 400;
        font-size: 16px;
        color: #FFFFFF;
        text-align: center;
    }
}
/* ======================================================== */

/* ======================================================== */
/* ======================================================== */
/* ======================================================== */
/* ======================================================== */